<!--  Kyle Gerber	   -->
<!--  January 14, 2017 -->
<!--  Copyright 2017   -->

<!-- Import Polymer. -->
<link rel='import' href='../../bower_components/polymer/polymer.html'>

<dom-module id='deployd-collection'>
	<template>
		<!-- Load socket.io -->
		<script on-load="_socketIoLoaded" src="[[_socketIoPath]]"></script>
	</template>
	<script>
		Polymer({
			is: 'deployd-collection',
			properties: {
				baseUrl: {
					type: String,
					value: null,
					observer: '_updateSocket'
				},
				debugging: {
					type: Boolean,
					value: false
				},
				dataAsObject: {
					type: Boolean,
					value: false
				},
				data: {
					type: Object,
					value: null,
					notify: true
				},
				changeEvent: {
					type: String,
					value: null
				},
				location: {
					type: String,
					value: null,
					observer: '_setInitialChangeEvent'
				},
				orderByValue: {
					type: String,
					value: null
				},
				reverse: {
					type: Boolean,
					value: false
				},
				_hostname: {
					type: String,
					value: function() {return window.location.hostname}
				},
				_prevChangeEvent: {
					type: String,
					value: null
				},
				_socket: {
					type: Object,
					value: null
				},
				_socketIoPath: {
					type: String,
					computed: '_getSocketIoPath(baseUrl)'
				}
			},
			observers: [
				'_updateData(location, baseUrl, dataAsObject)',
				'_updateChangeEvent(changeEvent, socket)'
			],
			ready: function() {
			},
			debug: function(msg) {
				if (this.debugging) console.debug('Deployd-Collection:', msg);
			},
			add: function(data, callback) {
				// Make deployd POST HTTP request.
				this._deployd("POST", this._url(this.baseUrl, this.location), data, function(res, err) {
					if (err) {
						console.error(err.status+" Error: "+err.message);
					}
					else {
						var lostKeys = this._getLostKeys(data, res);
						if (lostKeys.length > 0) {
							var warn = this.location+" rejected the following keys: "+lostKeys.join(", ");
							console.warn(warn);
						}
						else {
							this.debug("Successfully added data to "+this.location+" with id "+res.id);
						}
					}
					if (typeof callback == "function") {
						callback(res, err);
					}
				}.bind(this));
			},
			update: function(id, data, callback) {
				// Make deployd POST HTTP request.
				this._deployd("POST", this._url(this.baseUrl, this.location, id), data, function(res, err) {
					if (err) {
						console.error(err.status+" Error: "+err.message);
					}
					else {
						var lostKeys = this._getLostKeys(data, res);
						if (lostKeys.length > 0) {
							var warn = this.location+" rejected the following keys: "+lostKeys.join(", ");
							console.warn(warn);
						}
						else {
							this.debug("Successfully updated data in "+this.location+" with id "+res.id);
						}
					}
					if (typeof callback == "function") {
						callback(res, err);
					}
				}.bind(this));
			},
			// remove: function(data, callback) {
			// 	var length = this.data.length;
			// 	for (var i = 0; i < length; i++) {
			// 		if (this._compareObjects(data, this.data[i])) {
			// 			this.removeById(data.id, callback);
			// 			return null;
			// 		}
			// 	}
			// 	this.debug("Match could not be found");
			// 	if (typeof callback == "function") {
			// 		callback(null, null);
			// 	}
			// },
			removeById: function(id, callback) {
				this._deployd("DELETE", this._url(this.baseUrl, this.location, id), function(res, err) {
					if (err) {
						console.error(err.status+" Error: "+err.message);
					}
					else {
						this.debug("Successfully removed data in "+this.location+" with id "+id);
					}
					if (typeof callback == "function") {
						callback(res, err);
					}
				}.bind(this));
			},
			getById: function(id) {
				// Returns an item from this.data based with a matching id.
				if (this.dataAsObject) {
					return this.data[id];
				}
				else {
					var length = this.data.length;
					for (var i = 0; i < length; i++) {
						if (this.data[i].id == id) {
							return this.data[i];
						}
					}
				}
				return null;
			},
			_ajax: function(method, url, data, callback) {
				// Makes an AJAX request and calls a callback with the result when request complete.
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && typeof callback == "function") {
						if (typeof callback == "function") callback(this);
					}
				};
				xhttp.open(method, url, true);
				xhttp.setRequestHeader("Content-Type", "application/json");
				xhttp.send(JSON.stringify(data));
			},
			_deployd: function(method, url, data, callback) {
				this._ajax(method, url, (data ? data : ""), function(res) {
					// If a response was returned from the AJAX request.
					if (res) {
						var json = null;
						try {
							json = JSON.parse(res.response);
						}
						catch(e) {
							console.error("Could not parse AJAX response as JSON");
						}
						// If response was successfully parsed as JSON.
						if (json) {
							var err = null;
							var data = null;
							// If response was OK or No Content.
							if (res.status == 200 || res.status == 204) {
								// The response was the data.
								var data = json;
							}
							else {
								// The response was an error report.
								var err = json;
							}
							if (typeof callback == "function") {
								callback(data, err);
							}
						}
					}
					else {
						console.error("AJAX request failed");
					}
				});
			},
			// _computeDpdRef: function(location) {
			// 	return dpd(location);
			// },
			// _compareObjects: function(a, b) {
			// 	// Compare Keys.
			// 	var ak = Object.keys(a);
			// 	var bk = Object.keys(b);
			// 	for (var i = 0; i < ak.length; i++) {
			// 		if (ak[i] == "id") continue;
			// 		if (bk.indexOf(ak[i]) == -1) return false;
			// 	}
			// 	for (var i = 0; i < bk.length; i++) {
			// 		if (bk[i] == "id") continue;
			// 		if (ak.indexOf(bk[i]) == -1) return false;
			// 	}
			// 	//Compare Data.
			// 	for (var i = 0; i < ak.length; i++) {
			// 		if (ak[i] == "id") continue;
			// 		var ad = a[ak[i]];
			// 		var bd = b[ak[i]];
			// 		// Make recursive call to check subproperties that are objects.
			// 		if (typeof ad == "object" || bd == "object") {
			// 			if (!(this._compareObjects(ad, bd))) return false;
			// 		}
			// 		else if (ad != bd) return false;
			// 	}
			// 	return true;
			// },
			_getSocketIoPath: function() {
				return this._url('/', this.baseUrl, 'socket.io/socket.io.js');
			},
			_getLostKeys: function(data, res) {
				var origKeys = Object.keys(data);
				var newKeys = Object.keys(res);
				var lostKeys = [];
				for (var i = 0; i < origKeys.length; i++) {
					if (origKeys.indexOf(newKeys[i]) == -1) lostKeys.push(origKeys[i]);
				}
				return lostKeys;
			},
			_socketIoLoaded: function() {
				if (typeof io !== 'function') {
					console.warn('Could not load socket.io.  Will be unable to respond to data changes.');
				}
				else {
					// Update socket to listen to data changes.
					this._updateSocket();
				}
			},
			_updateChangeEvent: function() {
				if (this.socket && this.changeEvent) {
					if (this._prevChangeEvent) {
						this.socket.off(this._prevChangeEvent+':changed');
					}
					this.socket.on(this.changeEvent+':changed', function(socket) {
						this._updateData();
					}.bind(this));
					this._prevChangeEvent = this.changeEvent;
					this.debug("changeEvent set to "+this.changeEvent);
				}
				// if (this.changeEvent) {
				// 	if (this._prevChangeEvent) {
				// 		dpd.off(this._prevChangeEvent+":changed");
				// 	}
				// 	dpd.on(this.changeEvent+":changed", function() {
				// 		this.debug("Data at "+this.location+" changed");
				// 		this._updateData();
				// 	}.bind(this));
				// 	this._prevChangeEvent = this.changeEvent;
				// 	this.debug("changeEvent set to "+this.changeEvent);
				// }
			},
			_updateData: function() {
				// Requirements: Location must exist, and location cannot be equal to "".
				if (this.location == null || this.location == "") return;

				// Make deployd GET HTTP request.
				this._deployd("GET", this._url(this.baseUrl, this.location), null, function(res, err) {
					if (err) {
						console.error(err.status+" Error: "+err.message);
					}
					else {
						this.debug("Data loaded successfully");
						if (this.dataAsObject) {
							// Convert array of objects into an object of objects by deployd id.
							var temp = {};
							for (var i = 0; i < res.length; i++) {
								temp[res[i].id] = res[i];
							}
							this.data = temp;
							this.debug("Data converted to object successfully");
						}
						else {
							if (this.orderByValue) {
								res.sort(function(a, b) {
									if (a[this.orderByValue] == b[this.orderByValue]) return 0;
									if (a[this.orderByValue] > b[this.orderByValue]) return 1;
									return -1
								}.bind(this));
								this.debug("Data sorted by '"+this.orderByValue+"'");
							}
							if (this.reverse) {
								res.reverse();
								this.debug("Data reversed");
							}
							this.data = res;
						}
					}
				}.bind(this));
			},
			_url: function() {
				var parts = [];
				for (var i in arguments) {
					if (arguments[i] != null) parts.push(arguments[i]);
				}
				var url = parts.join("/");
				url = url.replace(/\/+/g, "/");
				return url;
			},
			_updateSocket: function() {
				// If socket.io is defined, create a socket to listen on the base url.
				if (typeof io === 'function') {
					var path = this._url('/', this.baseUrl, 'socket.io');
					this.socket = io.connect('/', {path: path});
					this.debug('Socket.io listening on'+path);
				}
			},
			_setInitialChangeEvent: function() {
				if (this.changeEvent == null) {
					this.changeEvent = this.location;
				}
			}
		});
	</script>
</dom-module>